.navigation {
  font-family: $raleway;
  font-size: $medium;
  font-weight: $regular;


  &__button-start{
  width: 120px;
  height: 35px;
  padding-left: center;
  color: $raising-black;
  border-color: $white;
  background-color: $white;
  }

  &__button-log{
  margin-left: 30px; 
  width: 120px;
  height: 35px;
  padding-left: center;
  color: $white;
  border-color: $ball-blue;
  background-color: $ball-blue;
  }
}
