body {
font-family: $raleway;
}
h1 {
  font-size: $xxxxx-large;
  font-weight: $bold;
}

h2 {
  font-size: $xxxx-large;
  font-weight: $bold;
}

h3 {
  font-size: $x-large;
  font-weight: $bold;

}
h5  {
  font-size: $medium;
}

p{
  font-size: $medium;
  line-height: 33px;


}
