.navigation__logo {
  margin: 25px;
}

.navigation__info-about{
  margin-top: -30px;
  margin-right: 10px;
  margin-left: 10px;

}

.navigation__info-carac{
  margin-right: 10px;
  margin-left: 10px;
}
.navigation__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
